
.ticket-item {
  height: 300px;
  border: 1px solid #dad5d5;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
& .ticket-title{
  padding: 2px;
}
  & img {
    height: 220px;

  }
}
