<div class="d-flex flex-column col-6 m-auto authorization-input-wrap">
  <div>
    <span class="mx-3 ">{{loginText}}</span>
    <input type="text"
       pInputText
       [ngClass]="{'input-error': !login}"
       [(ngModel)]="login"/>
</div>
  <div>
  <span class="mx-3 ">{{pswText}}</span>
  <input type="password" class="mt-3"
         pInputText
         [ngClass]="{'input-error': !psw}"
         [(ngModel)]="psw"/>
</div>
  <div class="mx-3 my-4">
    <p-checkbox (onChange)="vipStatusSelected()"
                label="Есть клубная карта"
                name="groupname"
                [binary]="true"
                [(ngModel)]="selectedValue"></p-checkbox>

    <div *ngIf="selectedValue">
      <span >Номер карты</span>
      <input type="text" class="mt-3 mx-3"
             pInputText
             [(ngModel)]="cardNumber"/>
    </div>
  </div>

<div class="mt-5 d-flex justify-content-center">
  <button pButton [disabled]="!login || !psw " (click)="onAuth($event)" class="p-button-info">{{authTextButton}}</button>
</div>

</div>
