<div>
  <p-toast key="server" position="top-left"></p-toast>


  <div class="m-3 time-block flex-grow-1 ">
    <div>Сегодня: </div>
    <div class="m-3"> {{ time | date : 'MMM d, y' }}</div>
  </div>

<div  class="m-3"> Тип меню:

  <p-dropdown class="mt-3" [options]="menuTypes"
              [(ngModel)]="selectedMenuType"
              optionLabel="label"
              (onChange)="changeType($event)">

  </p-dropdown>

</div>
<!--
<div class="m-3"> Тип отеля :

  <p-dropdown class="mt-3"
              [options]="tourTypes"
              optionLabel="label"
              (onChange)="changeTourType($event)">

  </p-dropdown>

</div>
-->
<div class="m-3"> Выберите дату заселения:

      <p-calendar (onSelect)="selectDate($event)" ></p-calendar>
</div>

<!--  <div class="m-4">-->
<!--    <button  class="btn btn-warning"  (click)="initRestError()"> Запрос с ошибкой </button>-->
<!--  </div>-->

<!--<div class="m-4">-->
<!--  <button  class="btn btn-outline-info " (click)="initSettingsData()"> Обновить настройки </button>-->
<!--</div>-->

<!--  <div class="m-4">-->
<!--    <button  class="btn btn-outline-info " (click)="initTours()"> Сформировать туры </button>-->
<!--  </div>-->
<!--  <div class="m-4">-->
<!--    <button  class="btn btn-outline-info " (click)="deleteTours()"> Удалить туры </button>-->
<!--  </div>-->

</div>

