<div class="mt-4 tour-loader-wrap">
  <h4>Создание нового отеля</h4>
  <div class="mt-3 user-info" [formGroup]="tourForm">
    <div class="mt-3">
      <span class="mx-3">Название отеля</span>
      <input type="text" class="mt-3" formControlName="name" pInputText />
    </div>
    <div class="mt-3">
      <span class="mx-3">Адрес</span>
      <input type="text" class="mt-3" formControlName="location" pInputText />
    </div>
    <div class="mt-3">
      <span class="mx-3">Описание отеля</span>
      <textarea class="mt-3 p-inputtext" formControlName="description">
        </textarea>
    </div>
    <div class="mt-3">
      <span class="mx-3">Дата заселения</span>
      <p-calendar class="mt-3" formControlName="dateTour" (onSelect)="selectDate($event)">
      </p-calendar>
    </div>

    <div class="mt-3">
      <span class="mx-3">Оператор</span>
      <input type="text" class="mt-3" formControlName="operator" pInputText />
    </div>
    <div class="mt-3">
      <span class="mx-3">Стоимость (RUB)</span>
      <input type="number" min="0" class="mt-3" formControlName="price" pInputText />

    </div>

    <div class="mt-3">
      <span class="mx-3">Фотография </span>
      <input type="file" class="mt-3" (change)="selectFile($event)" formControlName="img" pInputText />
    </div>

<!--   <div class="mt-3">
      <span class="mx-3">Тип отеля</span>--> 
      <!-- <p-dropdown [options]="tourTypes" [(ngModel)]="selectedTypes" optionLabel="label" formControlName="type"></p-dropdown> -->
      <!-- <p-dropdown [options]="tourTypes" optionLabel="value" formControlName="type"> -->
        <!--                (change)="selectType($event)"-->
      <!-- </p-dropdown> -->

<!--     <p-dropdown [options]="tourTypes" formControlName="type"></p-dropdown>
    </div>--> 


  </div>



  <div class="mt-4">
    <button pButton class="p-button-info" type="submit" (click)="createTour()">
      <!--              [disabled]="!tourForm.valid"-->

      Загрузить созданный отель </button>
  </div>

</div>