<div class="ticket-info-wrap">
  <div>
    <div class="mt-3" >
    <a routerLink="/tickets/tickets-list">Вернуться к списку отелей</a>
    </div>

<!--     <div class="mt-4">
      <h3>Информация об отеле</h3>
      <div class="ticket-info">{{ticket?.name}}</div>
      <div class="ticket-info">{{ticket?.location}}</div>
    </div>
-->
    <div class="mt-4 my-width">
      <h3>Личная информация</h3>
      <div class="mt-3 user-info" [formGroup]="userForm" (ngSubmit)="onSubmit()">

        <div class="mt-3">
<!--          <span class="mx-3">Имя</span>-->
          <ng-container *ngTemplateOutlet="userFieldTitle; context: {titleValue: 'Имя'}"></ng-container>
          <input type="text"
                 class="mt-3"
                 pInputText
                 formControlName="firstName"
                 />
        </div>

        <div class="mt-3">
          <ng-container *ngTemplateOutlet="userFieldTitle; context: {titleValue: 'Фамилия'}"></ng-container>
          <input type="text"
                 class="mt-3"
                 pInputText
                 formControlName="lastName"
          />
        </div>

        <div class="mt-3">
          <ng-container *ngTemplateOutlet="userFieldTitle; context: {titleValue: 'Номер карты'}"></ng-container>
          <input type="text"
                 class="mt-3"
                 pInputText
                 formControlName="cardNumber"
          />
        </div>

        <div class="mt-3">
          <ng-container *ngTemplateOutlet="userFieldTitle; context: {titleValue: 'Дата рождения'}"></ng-container>
          <p-calendar
                 class="mt-3"
                 formControlName="birthDay"
                 (onSelect)="selectDate($event)">
          </p-calendar>
        </div>

        <div class="mt-3">
          <ng-container *ngTemplateOutlet="userFieldTitle; context: {titleValue: 'Возраст'}"></ng-container>
          <p-inputNumber
            formControlName="age"
            [showButtons]="true"
            class="mt-3">
          </p-inputNumber>
        </div>

        <div class="mt-3">
          <ng-container *ngTemplateOutlet="userFieldTitle; context: {titleValue: 'Гражданство'}"></ng-container>
          <input type="text"
                 class="mt-3"
                 pInputText
                 formControlName="citizen"
          />
        </div>

        <div class="mt-4">
          <button pButton class="p-button-info" type="submit"
                  (click)="initTour()"
                  [disabled]="!userForm.valid">Забронировать номер</button>
        </div>

      </div>
    </div>
  </div>
    <div class="mt-4">
      <div class="mt-3 mb-3">
      <h3>Отели</h3>
      <div>
        <input class="searchInput" #ticketSearch [(ngModel)]="ticketSearchValue" type="text" pInputText />
      </div>
      </div>

      <div>
      <p-carousel [value]="nearestTours">
        <ng-template let-tour pTemplate="item">
          {{tour.name}}
          <div class="ticket-img-nearest">
            <img class="w-100 h-100  rounded " src="http://localhost:3000/public/{{tour.img}}"/>
          </div>
        </ng-template>
      </p-carousel>
    </div>
    </div>

</div>

<ng-template #userFieldTitle let-value="titleValue">
  <span class="mx-3">{{value}}</span>
</ng-template>
