:host{
  height: 60px;
  width: 100%;
  display: block;
}
.time-block{
  position: absolute;
  right: 0;
  padding: 4px;
}
.user-login{
  padding-right: 6rem;

}
.container {
  text-align: center;
}
.header-list{
  list-style: none;
}
.header-list_item{
  display: inline-block;
  padding: 1rem;
  font-size: 16px;
  
}
.phone{
  color: rgb(23, 21, 21);
  text-decoration: none;
}
