
<div class="d-flex">

  <div class="flex-grow-1">
  <p-menubar [model]="items">
    <div class="user-login">
      Добро пожаловать,
      {{user?.login}}
    </div>
     </p-menubar>
  </div>

<!-- непонятно как сделать это сверху! --> 
</div>
<div class="container">
  <ul class="header-list">
  <li class="header-list_item">Station сеть отелей</li>
  <li class="header-list_item"><a class="phone" href="tel:88124073846">8(812)407-38-46</a></li>
</ul>
</div>