<div class="d-flex flex-column h-100">

  <header>
    <app-header [menuType] = "selectedType"></app-header>
  </header>

  <div class="main-content">

    <div class="overflow-auto flex-grow-1 p-3 w-100 h-100">
      <router-outlet></router-outlet>
    </div>

    <app-aside (updateMenuType)="updateSelectedType($event)"></app-aside>

  </div>

  <footer>
    <app-footer></app-footer>
  </footer>

</div>
