* {
  box-sizing: border-box;
}

.footer_content {
  background-image: linear-gradient(0.25turn, #131515, #1a1c18);
  color: rgba(255, 255, 255, 0.7);
  padding: 1rem 2rem 2rem 1rem;
  width: 100%;
}
.column {
  width: 50%;
  float: left;
  padding: 1.5rem 2rem 0 2rem;
}
.clearfix{
  content: "";
  display: table;
  clear:both;
}
.social_info,.contact_info {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
  padding-bottom: 0.25rem;
}
.social_list,.contact_list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.social_item {
  display: inline-block;
  margin: 0;
  padding: 0;
}
.social_link {
  display: inline-block;
  font-size: 1rem;
  width: 1.5em;
  height:  1.5em;
  line-height:  1.5em;
  border-radius: 50%;
  text-align: center;
  background: rgba(219, 224, 226, 0.91);
  color: rgb(23, 21, 21);
  text-decoration: none;
  text-shadow: 0 1px 2px rgba(0,0,0,.3);
  transition: all .3s ease-in-out;
}
.social_link:hover {
  background: rgba(42, 192, 250, 0.91);
  transform: translateY(-5px);
  transition: all .3s ease-in-out;
}
.contact_item{
  padding-bottom: 0.25rem;
}
.contact_link {
  font-size: 1rem;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);

}
.fa-solid{
  opacity: 0;
  text-shadow: 0 1px 2px rgba(0,0,0,.3);
  transition: opacity .3s ease-in-out;
}
.contact_link:hover .fa-solid{
  opacity: 1;
  transition: opacity .3s ease-in-out ;
}


/*для меню сверху:*/
.container{
  width:1170px;
  margin-left: auto;
  margin-right: auto;
}

.main_header {
  background-color: #fff;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
  position: sticky;
  top:0;
}
.nav_menu {
  text-align: center;
  position: relative;
}
.menu {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.main_menu {
  display: inline-block;


}

.main_menu_item {
  display: inline-block;
}

.main_menu_link {
  display: block;
  padding: 1rem 1.5rem;
  text-decoration: none;
  color: #757575;
  transition: color .3s ease-in-out;
}

.main_menu_link:hover{
  color: #09c;
  transition: color .3s ease-in-out;
}

.container{
  width:1300px;
  margin-left: auto;
  margin-right: auto;
}
