<footer class="main_footer">

  <div class="footer_content clearfix">
    <div class="container">

      <div class="column social">
        <div class="social_info">Подписывайтесь на&nbsp;нас</div>
        <ul class="social_list">
          <li class="social_item"><a class="social_link fab fa-vk" href=""></a> </li>
          <li class="social_item"><a class="social_link fab fa-youtube" href=""></a> </li>
          <li class="social_item"><a class="social_link fab fa-telegram-plane" href=""></a> </li>
        </ul>
      </div>

      <div class="column contact">
        <div class="contact_info">Контакты</div>
        <ul class="contact_list">
          <li class="contact_item"><a class="contact_link" href=""><span class="fa-solid fa-location-dot"> </span> 191123, г. Санкт-Петербург, ул. Шпалерная, д. 36&nbsp;офис 221</a></li>
          <li class="contact_item"><a class="contact_link" href="mailto:info@station-hotels.ru"><span class="fa-solid fa-envelope"> </span> info@station-hotels.ru</a></li>
          <li class="contact_item"><a class="contact_link" href="tel:+78127482077"><span class="fa-solid fa-phone"> </span> +7(812)748-20-77</a></li>

        </ul>
      </div>
    </div>
  </div>
</footer>
