//тут все общие стили

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
}
.input-error{
  border: 1px solid red !important;
}
body {
  height: 100vh;

}
.top{
  margin-top: 2rem;
}
